tenants:
  - name: ai-agents
    providers:
      - name: OpenRouter
        apiKeyEnv: OPENROUTER_API_KEY
        models:
          - name: openai/gpt-oss-120b:free
            priority: 5
      - name: Nvidia
        apiKeyEnv: NVIDIA_API_KEY
        models:
          - name: moonshotai/kimi-k2-instruct
            priority: 4
      - name: Pollinations
        apiKeyEnv: POLLINATIONS_API_KEY
        models:
          - name: openai
            priority: 6
      - name: Ollama Local
        models:
          - name: qwen3.5:397b-cloud
            priority: 1
          - name: gemini-3-flash-preview
            priority: 2
          - name: deepseek-v3.2:cloud
            priority: 3