providers:
  - name: Groq
    type: openai
    baseUrl: https://api.groq.com/openai/v1
    models:
      - llama-3.3-70b-versatile
      - llama-3.1-8b-instant
      - mixtral-8x7b-32768

  - name: Ollama Local
    type: ollama
    baseUrl: http://localhost:11434/v1
    models:
      - qwen3.5:397b-cloud
      - gemma4:31b-cloud
      - deepseek-v3.2:cloud
      - gemini-3-flash-preview

  - name: Pollinations
    type: openai
    baseUrl: https://gen.pollinations.ai/v1
    models:
      - openai

  - name: Nvidia
    type: openai
    baseUrl: https://integrate.api.nvidia.com/v1
    models:
      - moonshotai/kimi-k2-instruct
      - z-ai/glm4.7

tenants:
  - name: ai-agents
    providers:
      - name: Pollinations
        apiKeyEnv: POLLINATIONS_API_KEY
        models:
          - name: openai # (GPT-5.4 Nano)
            priority: 5
      - name: Ollama Local
        models:
          - name: qwen3.5:397b-cloud
            priority: 1
          - name: deepseek-v3.2:cloud
            priority: 2
          - name: gemini-3-flash-preview
            priority: 6
          - name: gemma4:31b-cloud
            priority: 7
      - name: Nvidia
        apiKeyEnv: NVIDIA_API_KEY
        models:
          - name: moonshotai/kimi-k2-instruct
            priority: 3
          - name: z-ai/glm4.7
            priority: 4